{% extends "base.html" %}

{% block content %}
    <header class="hero">
        <h1>ვეფხისტყაოსანი – შოთა რუსთაველი</h1>
    </header>

    <div class="container mt-4">
        <h2 class="text-center">შესავალი</h2>
        <p class="text-center">„ვეფხისტყაოსანი“ — შუა საუკუნეების ქართული ეპიკური პოემა, რომელიც შოთა რუსთაველმა დაწერა. ეს ერთ-ერთი უდიდესი ლიტერატურული ქმნილებაა, რომელიც ქართველი ხალხის კულტურისა და ისტორიის განუყოფელი ნაწილია.</p>
    </div>

    
<style>
    h1,h2,p{
        font-family: "BPG Classic Medium", sans-serif;
    }
    h2{
        font-weight: bold;
    }
</style>
{% endblock %}